---
import Section from "./Section.astro";
import peter from "@/assets/peter-paker-dancing.webm";
---

<Section className="relative">
    <h2 class="text-2xl">
        3 <span class="text-xl">de</span> Noviembre
    </h2>
    <p class="section-text">de 18:00Hs a 21:00Hs</p>
    <video autoplay loop muted playsinline class="w-[150%] absolute left-0  bottom-20 -translate-x-1/6 mx-auto my-4">
        <source src={peter} type="video/webm" />
        Your browser does not support the video tag.

    <h3>
        Solo faltan <span id="days">3</span> días y <span id="hours">2</span> horas
        para disfrutar de la misión
    </h3>
</Section>

<script>
    const S = 1000;
    const M = S * 60;
    const H = M * 60;
    const D = H * 24;
    const eventDate = new Date("2025-11-03T18:00:00-03:00").getTime();

    const $hours = document.getElementById("hours");
    const $days = document.getElementById("days");

    const updateTimer = () => {
        const now = Date.now();
        const diff = eventDate - now;

        const days = Math.floor(diff / D);
        const hours = Math.floor((diff % D) / H);

        if ($days !== null && $hours !== null) {
            $days.innerText = days.toString();
            $hours.innerText = hours.toString();
        }
    };

    updateTimer();
    setInterval(updateTimer, 2000);
</script>
