---
import Section from "./Section.astro";
import spiderman from "@/assets/spiderman.png";
import dialog from "@/assets/dialog/dialogos-comentarios.png";
import { Image } from "astro:assets";
---

<Section id="end" className="relative overflow-hidden flex-col-reverse">
    <Image 
        id="spiderman" 
        src={spiderman} 
        format="webp" 
        alt="Spiderman"
        class="absolute -top-15 right-0 mx-auto w-7/12 hidden" 
    />


    <div id="spiderman-dialog" class="relative w-full h-1/2 justify-start items-center hidden">
        <Image
            src={dialog} 
            alt="Dialogo de comentarios" 
            class="absolute -z-10 w-full -scale-100 rotate-12 -left-5 opacity-70" 
        />
        <h2 class="absolute font-cc-meanwhile italic text-2xl text-black text-center px-[10%] top-[43%] -rotate-2 scale-90">
            Te esperamos <br>
            para <br>
            saltar, Reír <br>
            bailar y jugar.
        </h2>
    </div>
    
</Section>