---
import Section from "./Section.astro";
import stylo from "@/assets/stylo.png";
import gmaps from "@/assets/gmaps.png"
import { Image } from "astro:assets";
---

<Section className="p-8 font-mogra text-3xl">
    <h2>Nos encontramos en</h2>
    <Image src={stylo} alt="Logotipo de Stylo" format="webp" />
    <p class="text-3xl tracking-widest">Calle 18 N° 3104</p>
    <div class="mt-16 flex flex-col items-center justify-center ">
        <a href="https://maps.app.goo.gl/KNN7PqPQrVMbuqky8" target="_blank" rel="noopener noreferrer">
            <Image src={gmaps} alt="Logo de Google Maps" format="webp" class="inline size-40"/>
        </a>
        <span class="text-sm  text-gray-200 font-light text-center -translate-x-2 -translate-y-4 opacity-80">Ver en Google Maps</span>
    </div>
</Section>
