---
import Section from "./Section.astro";
---

<Section className="pt-26">
    <h1 class="text-4xl font-bold texts-center mb-1">¡Alerta en la Ciudad!</h1>
    <div class="my-4"></div>
    <p class="text-lg text-center">
       Un mini hombre araña cumple 4 años ... <br />
         ¡Y necesita a todos sus amigos para <br />
          salvar el día con una gran fiesta!
    </p>
</Section>