---
import introduccion from "@/assets/audio/introduccionG.mp3";
import musica from "@/assets/audio/musica.mp3";
import Image from "astro/components/Image.astro";
import modalBg from "@/assets/modal_bg.png";
import imgVer from "@/assets/SpiderLogo2.png";
---

<div id="modal" class="absolute inset-0 w-svw h-lvh grid z-60">
    <div class="h-full w-full grid place-items-center z-60">
        <button onclick="" class="translate-y-35 grid place-items-center size-50 md:size-40 lg:size-48 xl:size-56 2xl:size-64"> 
            <Image src={imgVer} alt="Ver" format="webp" />
        </button>
    </div>
    <Image
        src={modalBg}
        alt="Fondo del modal"
        widths={[400, 800, 1200, 1600]}
        format="webp"
        sizes={"(max-width: 600px) 400px, (max-width: 1200px) 800px, (max-width: 1800px) 1200px, 1600px"}
        class="full absolute top-0 left-0 w-svw h-dvh object-cover z-50"
    />
    <audio class="hidden" id="introduccion" src={introduccion}></audio>
    <audio class="hidden" loop id="musica" src={musica}></audio>
</div>

<script>
    import { initAnimations } from "@/libs/animations";

    const modal = document.getElementById("modal") as HTMLDialogElement;
    const button = modal.querySelector("button") as HTMLButtonElement;
    const introduccionAudio = document.getElementById(
        "introduccion",
    ) as HTMLAudioElement;
    const musicaAudio = document.getElementById("musica") as HTMLAudioElement;

    // Agregar clases de Tailwind al body cuando el modal se abre
    document.body.classList.add("overflow-hidden", "h-screen", "touch-none");

    introduccionAudio.onended = () => {
        musicaAudio.play();
    };

    button.addEventListener("click", () => {
        // Remover clases de Tailwind al cerrar el modal
        console.log(modal);
        modal.classList.add("hidden");
        document.body.classList.remove(
            "overflow-hidden",
            "h-screen",
            "touch-none",
        );
        initAnimations();
        introduccionAudio.play();
    });

    // Pausar/reanudar audio cuando se cambia de pestaña
    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            // La pestaña está oculta, pausar todos los audios
            if (!introduccionAudio.paused) {
                introduccionAudio.pause();
            }
            if (!musicaAudio.paused) {
                musicaAudio.pause();
            }
        } else {
            // La pestaña está visible, reanudar el audio si el modal está cerrado
            if (modal.classList.contains("hidden")) {
                if (
                    introduccionAudio.paused &&
                    introduccionAudio.currentTime > 0
                ) {
                    introduccionAudio.play();
                } else if (musicaAudio.paused && musicaAudio.currentTime > 0) {
                    musicaAudio.play();
                }
            }
        }
    });
</script>
