---
import logo from "@/assets/logo.png";
import video from "@/assets/spiderman_v.mp4";
import Image from "astro/components/Image.astro";
---

<div
    class="relative -z-20 max-h-[96svh] w-full aspect-[9/16] flex items-end justify-center bg-black"
>
    <Image src={logo} alt="Logo de Astro" class="w-3/4 mb-6" />
    <div class="absolute w-full h-full -z-10">
        <video autoplay muted loop class="w-full h-full object-cover">
            <source src={video} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</div>